h2, h3, h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}
img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.wy-nav-content li,
.wy-nav-content p {
    margin-bottom: 5px;
}
.rst-content blockquote{
    margin-left: 0px;
}
blockquote{
    color: #7f8fa4;
    font-size: inherit;
    padding: 6px 24px;
    margin: 16px 0;
    border-left: 3px solid #eaeaea;
}
